<div class="section">
  <h3 class="text-center">BookMeIn2 Dashboard</h3>
  <br>
  <div class="row">
    <!-- <div class="col-md-4">
      <div class="form-group">
        <label for="formGroupExampleInput">Text box one </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="formGroupExampleInput2">Text box two</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <br> -->


    <div class="col-md-4">
      <h4 class="text-center">TOP 5 Popular Sessions Based on Total Registrations</h4>
      <app-bar-chart></app-bar-chart>
      <div class="text-center">
        <a routerLink="/barchartall">View All</a>
        <!-- <button class="btn btn-primary">View All</button> -->
      </div>
    </div>


    <div class="col-md-4">
      <h4 class="text-center">Doughnut Chart</h4>
      <app-doughnut-chart></app-doughnut-chart>
    </div>

    <div class="col-md-4">
      <h4 class="text-center">Line Chart</h4>
      <app-line-chart></app-line-chart>
    </div>

    <hr>


    <div class="col-md-4 top-15">
      <h4 class="text-center">Pie Chart</h4>
      <app-pie-chart></app-pie-chart>
    </div>

    <div class="col-md-4 top-15">
      <h4 class="text-center">Radar Chart</h4>
      <app-radar-chart></app-radar-chart>
    </div>

    <div class="col-md-4 top-15">
      <h4 class="text-center">Bubble Chart</h4>
      <app-bubble-chart></app-bubble-chart>
    </div>
  </div>
  <br>
  <br>
  <div class="col-md-12">
    <h4>Table</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
