<div class="section">
  <div class="row">

    <div class="col-md-8">
      <h4 class="text-center">Popular Sessions Based on Total Hours Spent By Attendees</h4>
      <div class="chart-wrapper">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </div>

    <div class="col-md-4">
      <h4 class="text-center">Popular Sessions Based on Hours Spent By Attendees</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Event Id</th>
            <th scope="col">Total Time Spent</th>
            <th>Event Type</th>
            <!-- <th scope="col">Last</th>
            <th scope="col">Handle</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of popularSessions">
            <td>{{item.eventid}}</td>
            <td>{{item.totaltime/6/60}} Hrs</td>
            <td>Seminar</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
