<div class="section">
  <div class="row">

    <div class="col-md-4">
      <div class="form-group">
        <label for="formGroupExampleInput"> Enter attendee ID </label>
        <input type="text" class="form-control" id="attendeeID" placeholder="Ex. 14611"
          (click)="getAllAttendeeMessages()" [(ngModel)]="attendeeID">
      </div>
    </div>

    <div class="com-md-4">
      <button type="button" class="btn btn-primary">Search</button>
    </div>

    <!-- <div class="col-md-4">
      <h4 class="text-center">Popular Sessions Based on Total Registrations</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Event Id</th>
            <th scope="col">Total Registrations</th>
            <th>Event Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" ">
            <td>{{item.event_id}}</td>
            <td>{{item.total_registrations}}</td>
            <td>Seminar</td>
          </tr>
        </tbody>
      </table>
    </div> -->

  </div>
</div>
