<div class="section">
  <div class="row">

    <div class="col-md-4">
      <div class="form-group">
        <label for="formGroupExampleInput"> Enter attendee ID </label>
        <input type="text" class="form-control" id="attendeeID" placeholder="Ex. 14783" [(ngModel)]="attendeeID">
      </div>
      <span class="text-danger" *ngIf="enableErrorMessage">Attendee ID is required</span>
      <span class="text-danger" *ngIf="isAttendeeUnAvailable">Attendee ID not found</span>
      <span class="text-danger" *ngIf="enableInvalidFormatErrorMessage"> Attendee ID should be a number </span>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="attendeeOption">Select One Option</label>
        <select class="form-control" id="attendeeOption" [(ngModel)]="attendeeOption">
          <option value="" [selected]>Select Option</option>
          <option value="0">Get conversations between attendees</option>
          <option value="1">Get conversations between attendees and exhibitor</option>
          <option value="2">Events Attended - Time Spent</option>
          <option value="All">ALL</option>
        </select>
      </div>
      <span class="text-danger" *ngIf="optionNotSelected">Please Select an Option</span>
    </div>

    <div class="com-md-4 btn-top">
      <button type="button" class="btn btn-primary" (click)="getAllAttendeeMessages()">Search</button>
    </div>

    <div class="col-md-12 bottom-space" *ngIf="allAttendeeMsgs.length > 0">
      <br>
      <h4 class="text-center">Message details of attendee {{attendeeDetails[0].id}} - {{attendeeDetails[0].first_name}}
        {{attendeeDetails[0].last_name}} to other
        attendees
      </h4>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Meeting Id</th>
            <th>Meeting Date</th>
            <th>Message From</th>
            <th>Message To</th>
            <th>Message</th>
            <th>Date Sent</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let item of allAttendeeMsgs ">
            <td class=".w-30">{{item.meetingid}}</td>
            <td>{{item.meeting_date}}</td>
            <td>{{item.message_from}} - {{item.first_name}} {{item.last_name}}</td>
            <td class=".w-30">{{item.message_to}}</td>
            <td>{{item.message}}</td>
            <td class=".w-30">{{item.date_sent | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-12 bottom-space" *ngIf="isNoRecordsAttendee">
      <h2 class="text-center">No message records with attendees found</h2>
    </div>

    <div class="col-md-12 bottom-space" *ngIf="allAttendeeExhibitorMsgs.length > 0">
      <br>
      <h4 class="text-center">Message details of attendee {{attendeeDetails[0].id}} - {{attendeeDetails[0].first_name}}
        {{attendeeDetails[0].last_name}} to exhibitors
      </h4>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Delegate Id</th>
            <th>Exhibitor Id</th>
            <th>Delegate Read</th>
            <th>Exhibitor Read</th>
            <th>Message</th>
            <th>Conference Id</th>
            <th>Conversation Id</th>
            <th>Date Start</th>
            <th>Date Sent</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let item of allAttendeeExhibitorMsgs ">
            <td>{{item.delegateid}}</td>
            <td>{{item.exhibitor_id}}</td>
            <td>{{item.delegate_read}}</td>
            <td>{{item.exhibitor_read}}</td>
            <td>{{item.message}}</td>
            <td>{{item.conferenceid}}</td>
            <td>{{item.conversationid}}</td>
            <td>{{item.date_start}}</td>
            <td>{{item.date_sent}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-12 bottom-space" *ngIf="isNoRecordsExhibitor">
      <h2 class="text-center">No message records with exhibitors found</h2>
    </div>

    <div class="col-md-12" *ngIf="attendeeEvents.length > 0">
      <h4 class="text-center">Event attended and time spent in mins by attendee {{attendeeDetails[0].id}} -
        {{attendeeDetails[0].first_name}}
        {{attendeeDetails[0].last_name}}
      </h4>
      <h4 class="text-center">Total Time Spent: {{totalTimeSpentByAttendee}} Mins</h4>
      <br>
    </div>

    <div class="col-md-8 bottom-space" *ngIf="attendeeEvents.length > 0">
      <div class="chart-wrapper">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>

    <div class="col-md-4 bottom-space" *ngIf="attendeeEvents.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Event Id</th>
            <th>Time Spent (Mins)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let item of attendeeEvents ">
            <td>{{item.eventid}}</td>
            <td>{{item.totaltimespent}} Mins</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-12 bottom-space" *ngIf="isNoEventsFound">
      <h2 class="text-center">No Events Attended</h2>
    </div>

  </div>
</div>
